<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>www.xcuitech.com</title>
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<main>
    <form class="form" action="/user/login" method="post">
        <div class="form__cover"></div>
        <div class="form__loader">
            <div class="spinner active">
                <svg class="spinner__circular" viewBox="25 25 50 50">
                    <circle class="spinner__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                </svg>
            </div>
        </div>
        <div class="form__content">
            <h1>小崔的工具箱</h1>
            <div class="styled-input">
                <input type="text" class="styled-input__input" name="name">
                <div class="styled-input__placeholder">
                    <span class="styled-input__placeholder-text">用户名</span>
                </div>
                <div class="styled-input__circle"></div>
            </div><div class="styled-input">
            <input type="text" class="styled-input__input" name="password">
            <div class="styled-input__placeholder">
                <span class="styled-input__placeholder-text">密码</span>
            </div>
            <div class="styled-input__circle"></div>
        </div>
            <input type="submit" class="styled-button" value="登录">
<!--                    <span class="styled-button__real-text-holder">-->
<!--                        <span class="styled-button__real-text">登录</span>-->
<!--                        <span class="styled-button__moving-block face">-->
<!--                            <span class="styled-button__text-holder">-->
<!--                                <span class="styled-button__text">登录</span>-->
<!--                            </span>-->
<!--                        </span><span class="styled-button__moving-block back">-->
<!--                            <span class="styled-button__text-holder">-->
<!--                                <span class="styled-button__text">登录</span>-->
<!--                            </span>-->
<!--                        </span>-->
<!--                    </span>-->
            </input>
            <div>
                <a href="https://beian.miit.gov.cn/" target="_blank">陕ICP备2021016663号-1</a>
            </div>
        </div>
    </form>
</main>
<script  src="/static/js/index.js"></script>
</body>

</html>

